:root {
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
* {
  font-family: Poppins !important;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--Off-white);
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: var(--White);
  width: 420px;
  max-width: 80%;
  padding: 30px;
  position: relative;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
input {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--Off-white);
  outline: none;
}
input:focus {
  border: 2px solid var(--Purple);
}

small {
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  font-style: italic;
}

.submit-btn {
  width: 70px;
  height: 70px;
  padding: 20px;
  display: flex;
  background-color: var(--Purple);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 60px;
}
.submit-btn:hover {
  background-color: black;
  cursor: pointer;
}
.output span {
  font-size: 2.75rem;
  color: var(--Purple);
  font-style: italic;
}
